$background-color: #ffffff;
$secondary-background-color: #eeeeee;
$main-font: #333333;
$white: #ffffff;
$black: #030303;
$transparent-black-background: rgba(0,0,0,0.5);
$orange: rgb(253, 165, 3);


@media (max-width: 768px) {
    .card {
        margin: 10px 5px;
    }
    .card-img-top {
        height: auto !important;
        object-fit: cover;
    }

    #banner {
        h1 {
            font-size: 200%;
        }
    }

    footer {
        h2 {
            font-size: 150%;
        }
    }
}

body {
    background-color: $background-color;
    color: $main-font;
    font-family: "Gill Sans", sans-serif;
}

.navbar-brand {
    text-transform: uppercase;
    font-size: 2em;
}

hr.header {
    width: 40%;
    border-top: 1px solid #363636;
}

hr.header-white {
    width: 60%;
    border-top: 0.25px solid #ffffff;
}

h1, h2, h3 {
    text-transform: uppercase;
}

.text-orange {
    color: $orange;
}

#banner {
    background: url("../images/floor_framing.jpg") no-repeat scroll center;
    background-size: cover;

    h1 {
        color: $white;
        text-shadow: 2px 2px $black;
        font-size: 400%;
    }
}

#contact-form {
    padding: 0.5em;
}

.jumbotron {
    background-color: $transparent-black-background;
    padding: 1em;
    margin: 2em;
    h2,p {
        color: $white;
    }

    h2 {
        font-size: 1.5em;
    }
    
}

.card-img-top {
    width: auto;
    max-height: 28vh;
    object-fit: cover;
}

.blank-space {
    height: 100%;
    min-height: 200px;
}


#reasons {

    h3 {
        font-size: 1.25em;
    }
}

footer {
    color: $secondary-background-color;

    h2 {
        font-size: 400%;
        font-weight: 100;
    }
}